// Colors

$clr2: #4f3a65;
$clr1: #5a4066;
$clr4: #070c18;
$clr5: #484d4b;
$clr6: #fff;

$clr10: #1C2230;

$primary-clr: #873dc8;

// Breakpoints
$mobile-breakpoint: 500px;
$small-breakpoint: 650px;
$medium-breakpoint: 750px;
$narrow-breakpoint: 1100px;
$normal-breakpoint: 1300px;
$wide-breakpoint: 1500px;
$x-wide-breakpoint: 2000px;